h2 {
  color: unset !important;
  margin: 0;
  font: normal normal bold 20px/27px "Segoe UI";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 30px;
}

.box-title {
  padding: 25px 45px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image img {
  width: 50px;
  /* height: 57px; */
  margin-bottom: 16px;
}

.notice {
  text-align: center;
  margin-bottom: 20px;
}

.button-form button {
  padding: 13px 18px;
  margin-right: 0;
}

.bton {
  margin-right: 0 !important;
}

.button-form {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.list-item {
  display: flex;
  padding: 0 110px;
  gap: 88px;
  justify-content: center;
}

.content-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  max-width: 310px;
}

.main {
  display: flex;
}

.image {
  margin-right: 15px;
}

.box-infor {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icoin {
  display: flex;
  gap: 17px;
  height: fit-content;
}
.icoin img {
  cursor: pointer;
}
