button {
  padding: 15px 19px 15px 23px;
  border-radius: 10px;
  background: #064ebc;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border: unset;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: "Segoe UI";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 20px;
}

.ReactModal__Content {
  padding: 0 !important;
}

.box-modal {
  padding: 25px 45px;
}

.box-modal h2 {
  color: unset !important;
  top: 391px;
  left: 619px;
  text-align: center;
  font: normal normal bold 20px/27px "Segoe UI";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 0;
  margin-bottom: 40px;
}

.list-item {
  display: flex;
  padding: 0 110px;
  gap: 88px;
}

.styles.img {
  width: 310px;
  height: 175px;
}

.avatar,
.avatar1,
.name,
.des {
  display: flex;
}

.avatar div,
.avatar1 div,
.name div,
.des div,
.image div {
  text-align: left;
  font: normal normal normal 16px/21px "Segoe UI";
  letter-spacing: 0px;
  opacity: 1;
}

.avatar span,
.avatar1 span,
.name span,
.des span {
  color: #f3115e;
}

.avatar div,
.avatar1 div {
  margin-right: 46px;
  display: flex;
}

.upload {
  margin-left: 31px;
}

.upload {
  position: absolute;
  left: 147px;
  margin-right: 0;
}

.avatar input,
.avatar1 input {
  opacity: 0;
}

.avatar svg,
.avatar1 svg {
  position: absolute;
  left: 147px;
}

.avatar svg,
.avatar1 svg .upload {
  cursor: pointer;
  z-index: 9;
}

.name div {
  margin-right: 49px;
}

.des div,
.name div {
  margin-right: 15px;
  display: flex;
}

.name div {
  margin-right: 49px;
}

.image div {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 20px;
}

.custom {
  display: flex;
  flex-direction: column;
  margin-bottom: 52px;
}

.nav-main {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 80px;
}

.sreach-main {
  display: flex;
  align-items: center;
  position: relative;
}

input:not([type="range"]):not([type="color"]) {
  padding: 13px 49px 13px 14px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border: #dfdfdf;
}
input:not([type="range"]):not([type="color"])::before,
input:not([type="range"]):not([type="color"])::after {
  border: 1px solid red;
}

.avatar input,
.avatar1 input {
  opacity: 0;
  z-index: 999;
  cursor: pointer;
  width: 100%;
}

svg {
  position: absolute;
  right: 14px;
}

.custom-button {
  margin-right: 20px;
  cursor: pointer;
}

.button-form button:nth-child(1) {
  padding: 13px 18px;
  margin-right: 20px;
}

.button-form button:nth-child(2) {
  padding: 13px 18px;
}

.button-form {
  display: flex;
  justify-content: end;
}

.name input,
.des input {
  width: 100%;
}

.avatar:last-child {
  padding-bottom: 27px;
}
.social-card {
  display: flex;
  gap: 28px;
  padding: 0 100px;
}
.content-main {
  padding: 22px 30px;
  width: 310px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main {
  display: flex;
}
.box-infor {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.image {
  margin-right: 15px;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.icoin {
  display: flex;
  align-items: start;
  gap: 17px;
}
.icoin img {
  cursor: pointer;
}
h2 {
  color: unset !important;
  margin: 0;
  font: normal normal bold 20px/27px "Segoe UI";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 30px;
}

.box-title {
  padding: 25px 45px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image img {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

.notice {
  text-align: center;
  margin-bottom: 20px;
}

.button-form button {
  padding: 13px 18px;
  margin-right: 0;
}

.bton {
  margin-right: 0 !important;
}

.button-form {
  display: flex;
  justify-content: end;
  /* gap: 20px; */
  padding-top: 20px;
  border-top: 1px solid #d9d9d9;
}

.list-item {
  display: flex;
  padding: 0 110px;
  gap: 88px;
  justify-content: center;
}

.content-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  max-width: 310px;
}

.main {
  display: flex;
}

.image {
  margin-right: 15px;
}

.box-infor {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icoin {
  display: flex;
  gap: 17px;
  height: fit-content;
}
.icoin img {
  cursor: pointer;
}
